*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background-color: rgba(223, 233, 235, 0);
}

*::-webkit-scrollbar-track:hover {
    background-color: rgba(255, 255, 255, 0.04);
}

*::-webkit-scrollbar-track:active {
    background-color: rgba(184, 192, 194, 0.09);
}

*::-webkit-scrollbar-thumb {
    border-radius: 3px 0 0 3px;
    background-color: #9ae6b4;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #5de581;

}

*::-webkit-scrollbar-thumb:active {
    background-color: #57b676;
}
